<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form action="/stu/modify" method="post">
        <input type="hidden" name="id" th:value="${student.id}">
      姓名<input type="text" name="name" th:value="${student.name}"><br/>
      年龄<input type="text" name="age" th:value="${student.age}"><br/>
      班级名称
      <select name="classesId">
        <option th:each="classes: ${classesList}"  th:value="${classes.id}" th:selected="${classes.id eq student.classesId}" th:text="${classes.cname}" ></option>
      </select><br/>
      <input type="submit"  value="提交">
  </form>
</body>
</html>